
*.iml
CMakeLists.txt
cmake-build-debug/CMakeFiles/CMakeScratch/TryCompile-nhs3v8/CMakeLists.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.28.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.28.6/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.28.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.28.6/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.28.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.28.6/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.28.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.6/CMakeCCompiler.cmake
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/misc.xml
